<!--Assignment:1,   Disha Patel, 301149367, 14th-feb-2021--> 

<% include  ../partials/header.ejs %>  
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
              <div class="col-md-12">
              <p style="text-align:center; font-size:30px;" class="well lead"><a> Assignment:1 Disha Patel, 301149367 </a></p>
              <div class="container">
                <div class="row"> <!-- div da esquerda -->
                    <!-- Text input CNPJ e Razao Social-->
                    <div class="well col-md-11">
<div class="row">
  <div class="col-sm-8"> 
  <p style = "font-size:15px;">
  Disha Patel
  </p>
  <p style = "font-size:15px;">
   Date of Birth: 1996 July 07
   </p>
   <p style = "font-size:15px;">
  Address:  Ellesemere Road, Scarborough,ON
  <p style = "font-size:15px;">
  Eduction: Bachelors In Information Technology
  <p style = "font-size:15px;">
   Jr Software Devloper at Alian Technologies
</p>

</div>

  <div class="col-sm-4"><img src="img/IMG_3401.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">  </div>

</div>   
<form action="/img/disha_resume.pdf" method="get" class="site-form">
  <div class="form-group">
    <input type="submit" name="submit" id="submit"  value="Resume" style="width:200px;"  class="btn btn-info pull-left">
  </div>
</form>


</div>
 
                    </div> <!-- fim div da direita -->
                </div> <!-- fim div da esquerda -->
            </div>
              <p style="text-align:center; font-size:30px;" class="well lead"><a>Disha Patel</a></p> 
            
            </div>
          </div>
        </div>
    </div>
</div>

<% include  ../partials/footer.ejs %>