<!--Assignment:1,   Disha Patel, 301149367, 14th-feb-2021-->

<% include  ../partials/header.ejs %>  
      <!-- Page content -->
         
      
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
              <div class="col-md-12">
              
              <p id = "demo1" 
                style="text-align:center; font-size:30px;" class="well lead"><a> Assignment:1 Disha Patel, 301149367</a></p>
              <div class=" container">
                <div class=" row"> <!-- div da esquerda -->
                    <!-- Text input CNPJ e Razao Social-->
                    <div class=" well col-md-11">
                    <p style = "font-size:15px;">
                  
                      Disha is a IT Engineer. She persued Bachelor in IT from Gujarat India in 2018. After graduation she worked as a Jr. Software Developer at Alian Technologies for 1 year. After moving to Canada in 2019 as an Immigrant, she decided to study further at Centeenial college to refresh her eduction as a Canadian student. Opted for Software Engineering Technology program joined college in September 2020.
<p style = "font-size:15px;">
  During her Bachelors also Developed Android Application “CHAT APPLICATION WITH EMERGENCY RESCUE AND
  INCOGNITO MODE” which helps people in emergency situation. This application is used to enable an Emergency Incident Commander to monitor the location,
  vital signs, and other situational information of first responders including Firefighters, Police,
  EMS Technicians, and Paramedics during an emergency incident or other operation.
</p>
  <p style = "font-size:15px;">
   Developed this project on Android studio by using JAVA, MySQL, HTML, and CSS, handle the
  data on web server of client side and server side. Developed views and Templates using Asp.Net with MVC. Fixed and investigate JavaScript code utilizing apparatuses, for example, Firebug, Fiddler. Specialized condition: Java, Spring, Zend Framework, Code Igniter, CSS2/CSS3,
  HTML4/HTML5, XML, JSON, JavaScript, REST, AJAX, Bootstrap, GIT, PHP, SQL, FTP,
  Eclipse.
</p>
<p style = "font-size:20px;">
  Certifications
  </p>
  <p style = "font-size:15px;">
   Oracle: In 2018.
  </p>
  <p style = "font-size:15px;">
   Bigdata and Hadoop in 2018 by TechNet Consultancy.
  </p>  
  <p style = "font-size:15px;">
  </p>
   Dot Net Technology in 2019 by TOPS Technologies.
  


                    </div> <!-- fim div da direita -->
                </div> <!-- fim div da esquerda -->
            </div>
              <p style="text-align:center; font-size:30px;" class="well lead">Disha Patel</p> 
            </div>
          </div>
        </div>
    </div>
  </div>


<% include  ../partials/footer.ejs %>