<!--Assignment:1,   Disha Patel, 301149367, 14th-feb-2021-->

<% include  ../partials/header.ejs %>  
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
              <div class="col-md-12">
              <p style="text-align:center; font-size:30px;" class="well lead"><a>  Assignment:1 Disha Patel, 301149367 </a></p>
              <div class="container">
                <div class="row">
                <div class="well col-md-11">
  
  
  <div class="row">
  <h2>BORDER CROSSING MANAGEMENT SYSTEM</h2>
  <div class="col-sm-4"> <p> </p>

<p>  This framework enables the fringe to control officials as the individuals who are experiencing the outskirt to another nation, may have some gear and that baggage likewise should be checked and the visa of the client additionally should be confirmed. </p>

 <p> 
  For certain nations identification probably won't be needed, so individuals setting off to those nations must have the wide range of various reports required. This framework has one administrator account and no one but administrator can include officials who are obligation.</div> </p> 
 
  <div class="col-sm-4"><img src="img/bordersecurity.jpeg" class="img-responsive" alt="Cinque Terre" width="900" height="900">  </div>
  </div>
<br>

<div class="row">
  <h2>LEAVE MANAGEMENT SYSTEM</h2>
  <div class="col-sm-4"> 

<p>The client can apply for leave in a pretty interface and afterward give the explanation behind the leave which it could be them accessible for endorsement for it by the administrator of the framework. </p>

 <p> Here fundamental concoct the framework is that one can follow the leave decisively in the interface gave to every one of them. Leave can be paid or unpaid relying on an approach that can likewise figure and appeared to him in the interface.

</div> </p> 
 
  <div class="col-sm-4"><img src="img/leave.png" class="img-responsive" alt="Cinque Terre" width="900" height="900">  </div> 
  </div>
<br>

<div class="row">
  <h2>GARBAGE MANAGEMENT SYSTEM</h2>
  <div class="col-sm-4"> 

<p> Customarily, landfills are the primary standard procedure of sorted out garbage removal and stay in this manner in a few spots the world over. Our framework is made for such organization which need to take the trash from individuals home and take it to the unloading yard where it very well may be balanced out and made innocuous.</p>

 <p> For this one client will demand to pick the trash from home at a specific time and afterward framework staff will come to them with their vehicles and burden the trash into it and take some expense and knock it to the unloading territory.</div> </p> 
 
  <div class="col-sm-4"><img src="img/garbage.jpg" class="img-responsive" alt="Cinque Terre" width="900" height="900">  </div>
  </div>
<br>


<br>

                </div> <!-- fim div da esquerda -->
            </div>
            </br>
            </br>
              <p style="text-align:center; font-size:30px;" class="well lead"><a>Disha Patel</a></p> 
            </div>
          </div>
        </div>
    </div>
</div>

<% include  ../partials/footer.ejs %>