<!--Assignment:1,   Disha Patel, 301149367, 14th-feb-2021-->

<% include  ../partials/header.ejs %>  
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
              <div class="col-md-12">
              <p style="text-align:center; font-size:30px;" class="well lead"><a>  Assignment:1 Disha Patel, 301149367 </a></p>
              <div class="container">
                <div class="row"> <!-- div da esquerda -->
                    <!-- Text input CNPJ e Razao Social-->
                    <div class="well col-md-11">
<div class="row">
  <div class="col-sm-8"> 
  <h2>Software Engineer </h2>
  <p> Give object-arranged programming (OOS) plan for one of the development business' driving undertaking the executives stages. Create and alter programming for various customer base</p>
  
  <h2>Junior Software Engineer</h2>
  <p>Aided the plan and advancement of client data arrangements and Internet applications for a main money related administrations organization. </p>
  
  <h2>Web Developer</h2>
  <p> Made site for forthcoming telecom company The ATLX. Planned, created, executed, and kept up three web applications for customers. </p>
  
</div>

                    </div> <!-- fim div da direita -->
                </div> <!-- fim div da esquerda -->
            </div>
              <p style="text-align:center; font-size:30px;" class="well lead"><a>Disha Patel</a></p> 
            </div>
          </div>
        </div>
    </div>
      
</div>

<% include  ../partials/footer.ejs %>